.jumbotron {
    margin-bottom: 0;
}

h1 {
    color: goldenrod;
    font-size: 4em;
    font-weight: bold;
}

.card {
    margin: 10px;
    width: 18rem;
}


footer {
    background-color: rgb(50, 63, 241);
    padding: 10px;
    text-align: center;
    color: white;
}